<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body class="bg-yasarred">
    <div class="ui container" style="margin-top: 100px !important; padding-bottom: 100px;">
        <div class="ui segment">
            <%- include('./partials/dashboard-menu') %>
            <div class="ui segment">
                <h2>Manage Casinos</h2>
                <div class="ui primary button" onclick="openAddModal()">Add new Casino</div>
                <div id="casinos-container" class="ui items"></div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>

    <script>

        function openAddModal() {
            const modal = document.createElement('div');
            modal.classList.add('ui', 'modal');
            modal.innerHTML = `
                    <div class="header">Add Casino</div>
                    <div class="content">
                        <form class="ui form">
                            <div class="field">
                                <label>Name</label>
                                <input type="text" name="newCasinoName" placeholder="Enter the casino name">
                            </div>
                        </form>
                    </div>
                    <div class="actions">
                        <div class="ui button">Cancel</div>
                        <div class="ui primary button" onclick="saveNewCasino()">Save</div>
                    </div>
                `;
            document.body.appendChild(modal);
            $(modal).modal('show');
        }

        function saveNewCasino() {
            // Get the new casino data from the form
            const name = document.querySelector('input[name="newCasinoName"]').value;

            // Send a POST request to the API to add the new casino
            fetch('/api/v1/casinos', {
                    method: 'POST',
                    body: JSON.stringify({
                        name,
                        active: false
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(result => {
                    console.log('New casino added:', result);
                    // Close the modal and fetch the updated casinos
                    $('.ui.modal').modal('hide');
                    fetchCasinos();
                })
                .catch(error => {
                    console.error('Error adding new casino:', error);
                });
        }

        function fetchCasinos() {
            fetch('/api/v1/casinos')
                .then(response => response.json())
                .then(casinos => {
                    // Sort the casinos by priority
                    casinos.sort((a, b) => a.priority - b.priority);

                    const casinosContainer = document.getElementById('casinos-container');
                    casinosContainer.innerHTML = ''; // Remove existing items

                    casinos.forEach(casino => {
                        // Create a Fomantic UI item for each casino
                        const item = document.createElement('div');
                        item.classList.add('ui', 'item');
                        item.style.backgroundColor = casino.active ? '#fff' : '#eee';
                        item.id = casino._id;
                        item.draggable = true; // Enable drag and drop
                        item.addEventListener('dragstart', handleDragStart);
                        item.addEventListener('dragover', handleDragOver);
                        item.addEventListener('drop', handleDrop);
                        item.innerHTML = `
                            <div class="image">
                                <div class="ui ${casino.active ? 'green' : 'red'} label" onclick="toggleActive('${casino._id}', ${casino.active})">${casino.active ? 'active' : 'disabled'}</div>
                            <img style="max-width: 50px" src="${casino.imageUrl}">
                            </div>
                            <div class="content">
                            <a class="header">${casino.name}</a>
                            <!-- div class="meta">
                                <span>${casino.label} (${casino.labelLarge})</span>
                            </div>
                            <div class="description">
                                <p>${casino.description}</p>
                            </div -->
                            <div class="extra">
                                <a class="ui right floated primary button" href="/dashboard/casinos/${casino._id}/edit">
                                    Edit
                                </a>
                                <div class="ui right floated primary button" onclick="duplicateCasino('${casino._id}')">
                                    Duplicate
                                </div>
                                <div class="ui right floated red button" onclick="confirmDeleteCasino('${casino._id}')">
                                    Delete
                                </div>
                                <!-- div class="ui label">Limited</div -->
                            </div>
                            </div>
                            `;
                        casinosContainer.appendChild(item);
                    });
                })
                .catch(error => {
                    console.error('Error fetching casinos:', error);
                });
        }

        function handleDragStart(event) {
            event.dataTransfer.setData('text/plain', event.target.id);
        }

        function handleDragOver(event) {
            event.preventDefault();
        }

        function handleDrop(event) {
            event.preventDefault();
            const id1 = event.dataTransfer.getData('text/plain');
            const cardElement = event.target.closest('[id]');
            const id2 = cardElement ? cardElement.id : null;
            console.log('ID1:' + id1);
            console.log('ID2:' + id2);

            // Send a POST request to swap the priorities
            fetch('/api/v1/casinos/priority/swap', {
                method: 'PUT',
                body: JSON.stringify({
                    id1,
                    id2
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    showToast('error', 'Error swapping priorities', 'Error swapping priorities: ' + response.status);
                    throw new Error('Error swapping priorities: ' + response.status);
                }
            })
            .then(result => {
                console.log('Priorities swapped:', result);
                showToast('success', 'Priorities swapped successfully', 'The priorities have been swapped successfully');
                fetchCasinos(); // Fetch the updated casinos
            })
            .catch(error => {
                console.error(error);
            });
        }

        function duplicateCasino(casinoId) {
            // Send a POST request to duplicate the casino
            fetch(`/api/v1/casinos/${casinoId}/duplicate`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    showToast('error', 'Error duplicating casino', 'Error duplicating casino: ' + response.status);
                    throw new Error('Error duplicating casino: ' + response.status);
                }
            })
            .then(result => {
                console.log('Casino duplicated:', result);
                showToast('success', 'Casino duplicated successfully', 'The casino has been duplicated successfully');
                fetchCasinos(); // Fetch the updated casinos
            })
            .catch(error => {
                showToast('error', 'Error duplicating casino', 'Error duplicating casino: ' + error);
                console.error('Error duplicating casino:', error);
            });
        }

        function confirmDeleteCasino(casinoId) {
            // Create a Fomantic UI mini dialog for confirmation
            const dialog = document.createElement('div');
            dialog.classList.add('ui', 'mini', 'modal');
            dialog.innerHTML = `
                    <div class="header">Delete Casino</div>
                    <div class="content">
                        <p>Are you sure you want to delete this casino?</p>
                    </div>
                    <div class="actions">
                        <div class="ui button">Cancel</div>
                        <div class="ui red button" onclick="deleteCasino('${casinoId}')">Delete</div>
                    </div>
                `;
            document.body.appendChild(dialog);
            $(dialog).modal('show');
        }

        function deleteCasino(casinoId) {
            // Send a DELETE request to the API
            fetch(`/api/v1/casinos/` + casinoId, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then(result => {
                    console.log('Casino deleted:', result);
                    // hide the confirmation dialog
                    $('.ui.modal').modal('hide');
                    // delete the modal element from the DOM
                    document.querySelector('.ui.modal').remove();
                    fetchCasinos();
                })
                .catch(error => {
                    console.error('Error deleting casino:', error);
                });
        }

        function toggleActive(casinoId, active) {
            // Send a PUT request to the API to toggle the active state
            fetch(`/api/v1/casinos/${casinoId}/toggleActive`, {
                    method: 'PUT',
                    body: JSON.stringify({
                        active: !active
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(result => {
                    console.log('Casino active state updated:', result);
                    // Fetch the updated casinos
                    fetchCasinos();
                })
                .catch(error => {
                    console.error('Error updating casino active state:', error);
                });
        }

        fetchCasinos();
    </script>
</body>

</html>