<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
  <div class="ui wide container" style="margin-top: 100px !important; padding-bottom: 100px;">
    <div class="ui segment">
      <%- include('./partials/dashboard-menu') %>
      <div class="ui segment">
        <h1>Dashboard</h1>
        <h2>Your activity</h2>
        <div class="ui grid">
          <div class="six wide column">
            <div class="ui mini loading card" id="casinoCard">
              <div class="content">
                <h2 class="ui header">
                  <img src="/img/slot-machine.svg" width="60px">
                  <div class="content">
                    Casinos
                  </div>
                </h2>
                <div class="description">
                  <div id="casinoActiveAcount">
                  </div>
                  <div id="casinoUsed">
                  </div>
                </div>
              </div>
              <div class="extra content">
                <a href="/casinos">
                  Manage Casinos <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- div class="six wide column">
              <div class="ui mini loading card" id="imagesCard">
                <div class="content">
                  <h2 class="ui header">
                    <i class="file image icon"></i>
                    <div class="content">
                      Images
                    </div>
                  </h2>
                  <div class="description">
                    <div id="imagesAcount">
                    </div>
                    <div id="imagesUsed">
                    </div>
                  </div>
                </div>
                <div class="extra content">
                  <a href="/images">
                    Manage Images <i class="fas fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
            </!-->
        </div>
        <h2>Your services</h2>
        <div class="ui basic segment">
          <div class="ui table">
            <table class="ui celled table">
              <thead>
                <tr>
                  <th>Owner</th>
                  <th>Service</th>
                  <th>Active since</th>
                  <th>Renewal</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
        <h2>Your orders</h2>
        <div class="ui basic segment">
          <div class="ui table">
            <table class="ui celled table" id="ordersTable">
              <thead>
                <tr>
                  <th>Owner</th>
                  <th>Service</th>
                  <th>Interval</th>
                  <th>Created</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>

      <%- include('../partials/footer') %>

</body>

</html>

<script>
  // call /api/casinos/activeInactiveCount to get active and inactive count of casinos
  // then assign the values to HTML elements with id="casinoActiveAcount" and id="casinoInactiveAcount"
  // e.g. document.getElementById("casinoActiveAcount").innerHTML = "68 active";

  function fetchCasinoActiveInactiveCount() {
    return new Promise((resolve, reject) => {
      $.ajax({
        url: '/api/v1/casinos/activeinactive',
        type: 'GET',
        success: function (result) {
          console.log(result);
          document.getElementById("casinoActiveAcount").innerHTML = result.activeCount + " active (" + result
            .inactiveCount + " disabled)";
          document.getElementById("casinoUsed").innerHTML = result.allCasinos + " used of " +
            result.maxCasinos + " Casinos (" + result.percentageUsed + "%)";
        }
      });
      document.getElementById("casinoCard").classList.remove("loading");
    });
  }

  function fetchOrders() {
    return new Promise((resolve, reject) => {
      $.ajax({
        url: '/api/v1/orders',
        type: 'GET',
        success: function (response) {
          $('#ordersTable tbody').empty();

          response.forEach(function (item) {
            var row = $('<tr>');
              if (item.user) {
                row.append($('<td>').text(item.user.nickname));
              } else {
                row.append($('<td>').text(item.tenant.name));
              }

            row.append($('<td>').text(item.service.name));
            row.append($('<td>').text(item.interval));
            row.append($('<td>').text(item.creation_date));
            
              // display status and date in one column with linebreak (e.g. "pending (X X ago)") 
              var statusCell = $('<td>');
              statusCell.append($('<div>').text(item.status.status));
              if (item.status !== 'completed') {
                statusCell.append($('<span class="ui small text">').text('(' + item.status.date + ')'));
              }
              row.append(statusCell);


            var actionsCell = $('<td>');

            var detailsButton = $('<button>').addClass('ui blue button').text('Details');
            detailsButton.click(function () {
              window.location.href = '/orders/' + item._id;
            });

            // actionsCell.append(detailsButton);


            row.append(actionsCell);

            $('#ordersTable tbody').append(row);

          });
        }
      });
    });
  }

  $(document).ready(function () {
    fetchCasinoActiveInactiveCount();
    fetchOrders();
  });
</script>