<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body class="bg-yasarred">
  <div class="ui wide container" style="margin-top: 100px !important; padding-bottom: 100px;">
    <div class="ui segment">
      <%- include('./partials/dashboard-menu') %>
      <div class="ui segment">
        <h2>Dashboard</h2>
        <div class="ui segment">
          <div class="ui grid">
            <div class="six wide column">
              <div class="ui mini loading card" id="casinoCard">
                <div class="content">
                  <h2 class="ui header">
                    <img src="/img/slot-machine.svg" width="60px">
                    <div class="content">
                      Casinos
                    </div>
                  </h2>
                  <div class="description">
                    <div id="casinoActiveAcount">
                    </div>
                    <div id="casinoUsed">
                    </div>
                  </div>
                </div>
                <div class="extra content">
                  <a href="/casinos">
                    Manage Casinos <i class="fas fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <%- include('../partials/footer') %>

</body>

</html>

<script>
  // call /api/casinos/activeInactiveCount to get active and inactive count of casinos
  // then assign the values to HTML elements with id="casinoActiveAcount" and id="casinoInactiveAcount"
  // e.g. document.getElementById("casinoActiveAcount").innerHTML = "68 active";

  function fetchCasinoActiveInactiveCount() {
    return new Promise((resolve, reject) => {
      $.ajax({
        url: '/api/v1/casinos/activeinactive',
        type: 'GET',
        success: function (result) {
          console.log(result);
          document.getElementById("casinoActiveAcount").innerHTML = result.activeCount + " active (" + result
            .inactiveCount + " disabled)";
          document.getElementById("casinoUsed").innerHTML = result.allCasinos + " used of " +
            result.maxCasinos + " Casinos (" + result.percentageUsed + "%)";           
        }
      });
      document.getElementById("casinoCard").classList.remove("loading");
    });
  }

  $(document).ready(function () {
    fetchCasinoActiveInactiveCount();
  });
</script>