<!-- media.ejs -->
<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <style type="text/css">
      body {
        background-color: #DADADA;
      }
      body > .grid {
        height: 100%;
      }
      .image {
        margin-top: -100px;
      }
      .column {
        max-width: 450px;
      }
    </style>
    <body>
      <div class="ui middle aligned center aligned grid">
        <div class="column">
          <h2 class="ui image header">
            <img src="https://cdn.treudler.net/web/logo/256x256.png" class="image">
            <div class="content">
              Log-in to your account
            </div>
          </h2>
          <form class="ui large form" id="userForm">
            <div class="ui stacked segment">
              <div id="formLoaderAccountDetails" class="ui inverted dimmer"></div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="username" placeholder="Username">
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" placeholder="Password">
                </div>
              </div>
              <button id="saveButton" class="ui fluid large submit button">Login</button>
            </div>
      
            <div class="ui error message"></div>
      
          </form>
      
          <div class="ui message">
            No user? <a href="/register">Sign Up</a>
          </div>
        </div>
      </div>


                  
                      <script>
                        showActionButton('saveButton','login');
                        // showLoader('formLoaderPersonalDetails', 'disabled');
                        // showLoader('formLoaderPaymentInformation', 'disabled');
                        // showLoader('formLoaderReceipt', 'disabled');

                        $('#userForm').submit(function(e) {
                          const button = 'saveButton';
                          e.preventDefault();
                          showLoader('formLoaderAccountDetails', 'saving');

                          showActionButton(button,'loading');



                          var formData = {
                            username: $('input[name="username"]').val(),
                            tenancy: $('input[name="tenancy"]').val(),
                            password: $('input[name="password"]').val(),
                            language: "en"
                          };
                          console.log('form', formData);
                          $.ajax({
                            type: 'POST',
                            url: '/api/v1/auth/login',
                            data: formData,
                            success: function(data) {
                              console.log(data);
                              showLoader('formLoaderAccountDetails', 'success');

                              showActionButton(button,'success');
                              showToast('success', 'Authentication succeeded.', 'Redirecting to the Dashboard...');
                              // Redirect to /login after 3 seconds
                              setTimeout(function() {
                                window.location.href = '/dashboard';
                              }, 500);
                            },
                            error: function(xhr, status, error) {
                              var errorMessage = JSON.parse(xhr.responseText).error;
                              showActionButton(button,'error', 'Error logging in', errorMessage, 'login');
                              showLoader('formLoaderAccountDetails', 'success');
                            },
                            complete: function() {

                            }
                          });
                        });
                      </script>
                      <%- include('../partials/footer') %>
                        </body>
                    </html>
