<!-- media.ejs -->
<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
<%- include('../partials/header') %>

<!-- Fügen Sie die DataTables CSS und JavaScript Bibliotheken hinzu -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<!-- those 2 belong together! -->
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.13.7/dataRender/datetime.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


<body>
    <div class="ui container" style="margin-top: 100px !important; padding-bottom: 100px;">
        <div class="ui segment">
            <%- include('./partials/dashboard-menu') %>
            <div class="ui segment">
                <div class="ui container">
                    <h2>Super: All Orders</h2>
                    <table id="ordersTable" class="display">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Status</th>
                                <th>Created by</th>
                                <th>Creation Date</th>
                                <th>Actions</th>
                                <!-- Fügen Sie hier weitere Spalten hinzu, je nachdem, welche Daten Sie anzeigen möchten -->
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>
    <script>
        $(document).ready(function () {
            getOrders();
        });

        let ordersTable;

        function getOrders() {
            // Show the loading indicator
            $('#fetchingIndicator').show();

            // Wenn die Tabelle bereits initialisiert wurde, aktualisieren Sie sie einfach
            if (ordersTable) {
                ordersTable.ajax.reload();
                return;
            }

            // Initialisieren Sie die DataTable und füllen Sie sie mit Daten von Ihrem API-Endpunkt
            ordersTable = $('#ordersTable').DataTable({
                serverSide: true,
                processing: true,
                ajax: {
                    url: '/api/v1/orders/super',
                    data: function (d) {
                        d.page = d.start / d.length + 1;
                        d.search = d.search.value;
                        d.sort = d.columns[d.order[0].column].data;
                    }
                },
                columns: [{
                        data: 'order_number'
                    },
                    {
                        data: 'status.status',
                    },
                    {
                        data: function (row) {
                            if (row.user) {
                                return row.user.username;
                            } else  if (row.tenant) {
                                return row.tenant.name;
                            }
                        }
                    },
                    {
                        data: 'created_at',
                        render: function (data, type, row) {
                            return moment(data).format('DD.MM.YYYY HH:mm:ss');
                        }
                    },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            return '<button class="ui button" onclick="editService(' + data +
                                ')">Edit</button>';
                        }
                    }
                    // Fügen Sie hier weitere Spalten hinzu, je nachdem, welche Daten Sie anzeigen möchten
                ],
                drawCallback: function () {
                    $('#fetchingIndicator').hide();
                }
            });
        }

        function editService(id) {
            window.location.href = '/dashboard/super/services/' + id + '/edit';
        }
    </script>
</body>

</html>