<!-- media.ejs -->
<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    <div class="ui wide container" style="margin-top: 100px !important; padding-bottom: 100px;">
        <div class="ui segment">
            <%- include('./partials/dashboard-menu') %>
            <div class="ui segment">
                    <h2>Twitch Wishlist Bot</h2>
                    <div id="randomWishButton" class="ui primary button">Zufälligen Wunsch spielen</div>
                    <table id="wishListTable" class="ui celled table">
                        <thead>
                            <tr>
                                <th>Wunsch</th>
                                <th>Zuschauer</th>
                                <th>Hinzugefügt</th>
                                <th>Status</th>
                                <th>Abgeschlossen</th>
                                <th>Aktionen</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>
    <script>
        // add event listener to the random wish button to play a random wish from the list of pending wishes in the database
        $(document).ready(function () {
            $('#randomWishButton').click(function () {
                $.ajax({
                    url: '/api/v1/utils/twitchwishlistbot/random',
                    method: 'POST',
                    success: function (response) {
                        showToast('success', 'Wish played',
                            'The wish has been played successfully.');
                        getWishList();
                    },
                    error: function (error) {
                        console.log('Error playing wish:', error);
                        showToast('error', 'Error playing wish',
                            'There was an error playing the wish. Please try again. This incident has been logged.'
                        );
                    }
                });
            });
        });

        $(document).ready(function () {
            // Function to get Casino Wish List Bot Items from the API
            // and populate the table with them.
            function getWishList() {
                $.ajax({
                    url: '/api/v1/utils/twitchwishlistbot/',
                    method: 'GET',
                    success: function (response) {
                        // Clear the table
                        $('#wishListTable tbody').empty();
                        // Loop through the response and add each item to the table
                        response.forEach(function (item) {
                            // Create a new row
                            var row = $('<tr>');
                            // Add the item data to the row
                            row.append($('<td>').text(item.wish));
                            row.append($('<td>').text(item.twitch_user));
                            row.append($('<td>').text(item.created_at));
                            row.append($('<td>').text(item.status));
                            row.append($('<td>').text(item.completed_at));

                            if (item.status === 'pending') {
                                $(row).addClass('yellow');

                                var actionsCell = $('<td>');

                                var playButton = $('<button>').addClass(
                                    'ui green button').text('Spielen');
                                playButton.click(function () {
                                    playWish(item._id);
                                });
                                actionsCell.append(playButton);

                                var rejectButton = $('<button>').addClass('ui red button')
                                    .text('Ablehnen');
                                rejectButton.click(function () {
                                    rejectWish(item._id);
                                });
                                actionsCell.append(rejectButton);

                                row.append(actionsCell);
                            } else if (item.status === 'playing') {
                                $(row).addClass('blue');

                                var actionsCell = $('<td>');

                                var completeButton = $('<button>').addClass(
                                    'ui green button').text('Abschließen');
                                completeButton.click(function () {
                                    completeWish(item._id);
                                });
                                actionsCell.append(completeButton);

                                var rejectButton = $('<button>').addClass('ui red button')
                                    .text('Ablehnen');
                                rejectButton.click(function () {
                                    rejectWish(item._id);
                                });
                                actionsCell.append(rejectButton);

                                row.append(actionsCell);
                            } else if (item.status === 'completed') {
                                $(row).addClass('green');

                                var actionsCell = $('<td>');
                                var pendingButton = $('<button>').addClass('ui gray tiny button')
                                    .text('Set back to pending');
                                pendingButton.click(function () {
                                    pendWish(item._id);
                                });
                                actionsCell.append(pendingButton);
                                row.append(actionsCell);
                            } else if (item.status === 'rejected') {
                                $(row).addClass('red');

                                var actionsCell = $('<td>');
                                var pendingButton = $('<button>').addClass('ui gray tiny button')
                                    .text('Set back to pending');
                                pendingButton.click(function () {
                                    pendWish(item._id);
                                });
                                actionsCell.append(pendingButton);
                                row.append(actionsCell);
                            }

                            // Add the row to the table
                            $('#wishListTable tbody').append(row);
                        });
                    },
                    error: function (error) {
                        console.log('Error getting Casino Wish List Bot items:', error);
                        showToast('error', 'Error getting Casino Wish List Bot items',
                            'There was an error getting the Casino Wish List Bot items. Please try again. This incident has been logged.'
                        );
                    }
                });
            }

            getWishList();

            function completeWish(wishId) {
                $.ajax({
                    url: '/api/v1/utils/twitchwishlistbot/' + wishId + '/complete',
                    method: 'POST',
                    success: function (response) {
                        showToast('success', 'Wish completed',
                            'The wish has been completed successfully.');
                        getWishList();
                    },
                    error: function (error) {
                        console.log('Error completing wish:', error);
                        showToast('error', 'Error completing wish',
                            'There was an error completing the wish. Please try again. This incident has been logged.'
                        );
                    }
                });
            }

            function rejectWish(wishId) {
                $.ajax({
                    url: '/api/v1/utils/twitchwishlistbot/' + wishId + '/reject',
                    method: 'POST',
                    success: function (response) {
                        showToast('success', 'Wish rejected',
                            'The wish has been rejected successfully.');
                        getWishList();
                    },
                    error: function (error) {
                        console.log('Error rejecting wish:', error);
                        showToast('error', 'Error rejecting wish',
                            'There was an error rejecting the wish. Please try again. This incident has been logged.'
                        );
                    }
                });
            }

            function pendWish(wishId) {
                $.ajax({
                    url: '/api/v1/utils/twitchwishlistbot/' + wishId + '/pend',
                    method: 'POST',
                    success: function (response) {
                        showToast('success', 'Wish set back to pending',
                            'The wish has been set back to pending successfully.');
                        getWishList();
                    },
                    error: function (error) {
                        console.log('Error setting wish back to pending:', error);
                        showToast('error', 'Error setting wish back to pending',
                            'There was an error setting the wish back to pending. Please try again. This incident has been logged.'
                        );
                    }
                });
            }

            function playWish(wishId) {
                $.ajax({
                    url: '/api/v1/utils/twitchwishlistbot/' + wishId + '/play',
                    method: 'POST',
                    success: function (response) {
                        showToast('success', 'Wish set to playing',
                            'The wish has been set to playing successfully.');
                        getWishList();
                    },
                    error: function (error) {
                        console.log('Error setting wish to playing:', error);
                        showToast('error', 'Error setting wish to playing',
                            'There was an error setting the wish to playing. Please try again. This incident has been logged.'
                        );
                    }
                });
            }

            // call getWishList every second
            var wishListInterval = setInterval(function () {
                getWishList();
            }, 1000);
            
        });
    </script>
</body>

</html>