<div class="ui small menu">
    <% if (user.permissions.includes('viewDashboard')) { %>
        <a class="item" href="/dashboard">Dashboard</a>
    <% } %>
    <% if (user.permissions.includes('manageCasinos')) { %>
        <a class="item" href="/dashboard/casinos">Casinos</a>
    <% } %>

      <div class="ui dropdown item">
          Tenancy <i class="dropdown icon"></i>
          <div class="menu">
            <a href="/dashboard/casinos/categories" class="item">Casino Categories</a>
            <a href="/dashboard/casinos/features" class="item">Casino Features</a>
            <a href="/dashboard/casinos/providers" class="item">Casino Providers</a>
            <a href="/dashboard/casinos/paymentmethods" class="item">Casino Payment Methods</a>

          </div>
        </div>
        
    <% if (user.permissions.includes('manageLinks')) { %>
        <div class="ui dropdown item">
            Links <i class="dropdown icon"></i>
            <div class="menu">
              <a class="disabled item">Manage</a>
              <a href="/dashboard/links/statistics" class="item">Statistics</a>
            </div>
          </div>
    <% } %>
    <% if (user.permissions.includes('manageImages') || user.permissions.includes('manageImagesCategories')) { %>
        <div class="ui dropdown item">
            Images <i class="dropdown icon"></i>
            <div class="menu">
                <% if (user.permissions.includes('manageImages')) { %>
                    <a class="item" href="/dashboard/images">Images</a>
                <% } %>
                <% if (user.permissions.includes('manageImagesCategories')) { %>
                  <a class="item" href="/dashboard/images/categories">Image Categories</a>
              <% } %>
            </div>
          </div>
    <% } %>
    
    <div class="right menu">
        <% if (user.permissions.includes('superAdmin') || user.permissions.includes('manageRegistrationKeys') 
            || user.permissions.includes('manageSessions')) { %>
            <div class="ui dropdown item">
                Super <i class="dropdown icon"></i>
                <div class="menu">
                  <% if (user.permissions.includes('manageUsers')) { %>
                    <a class="item" href="/dashboard/super/users">Users</a>
                <% } %>
                    <% if (user.permissions.includes('manageRegistrationKeys')) { %>
                        <a class="item" href="/dashboard/super/registrationkeys">Registration Keys</a>
                    <% } %>
                    <% if (user.permissions.includes('manageSessions') || user.permissions.includes('superAdmin')) { %>
                        <a class="item" href="/dashboard/super/sessions">User Sessions</a>
                    <% } %>

                </div>
              </div>
              
        <% } %>
        
          <div class="ui dropdown item">
            <i class="user icon"></i><%= user.username %> <i class="dropdown icon"></i>
            <div class="menu">
                <a href="/dashboard/account" class="item">Manage Account</a>
 
            </div>
          </div>
      <div class="item">
        <div id="logoutButton" class="ui right labeled icon button" onclick="callLogoutAPI()">Logout</div>
    </div>
  </div>
</div>
  <script>
showActionButton('logoutButton', 'logout'); 
    callLogoutAPI = () => {
      showActionButton('logoutButton', 'loading'); 
      $.ajax({
        url: '/api/auth/logout',
        type: 'POST',
        success: function(result) {
          window.location.href = '/login';
        }
      });
    };

    $('.ui.dropdown')
      .dropdown()
    ;
    </script>

<!--  Additional Code only for users
-->
<% if (user) { %>



<% } %>



