<div class="ui small menu">
    <% if (user.userPermissions.includes('viewDashboard')) { %>
        <a class="item" href="/dashboard">Dashboard</a>
    <% } %>
    <% if (user.userPermissions.includes('manageCasinos')) { %>
        <a class="item" href="/dashboard/casinos">Casinos</a>
    <% } %>
    <% if (user.userPermissions.includes('manageFaq')) { %>
        <a class="item" href="/dashboard/faq">Faq</a>
    <% } %>
    <% if (user.userPermissions.includes('manageLinks')) { %>
        <div class="ui dropdown item">
            Links <i class="dropdown icon"></i>
            <div class="menu">
              <a class="disabled item">Manage</a>
              <a href="/dashboard/links/statistics" class="item">Statistics</a>
            </div>
          </div>
    <% } %>
    <% if (user.userPermissions.includes('manageCasinos') || user.userPermissions.includes('manageProvider') || user.userPermissions.includes('managePaymentMethods')) { %>
        <div class="ui dropdown item">
            Media <i class="dropdown icon"></i>
            <div class="menu">
                <% if (user.userPermissions.includes('manageCasinos')) { %>
                    <a class="item" href="/dashboard/media/casinos">Casinos</a>
                <% } %>
                <% if (user.userPermissions.includes('manageProvider')) { %>
                    <a class="item" href="/dashboard/media/provider">Provider</a>
                <% } %>
                <% if (user.userPermissions.includes('managePaymentMethods')) { %>
                    <a class="item" href="/dashboard/media/paymentmethods">Payment Methods</a>
                <% } %>
            </div>
          </div>
    <% } %>
    
    <div class="right menu">
        <% if (user.userPermissions.includes('superAdmin') || user.userPermissions.includes('manageRegistrationKeys') 
            || user.userPermissions.includes('manageSessions')) { %>
            <div class="ui dropdown item">
                Super <i class="dropdown icon"></i>
                <div class="menu">
                    <% if (user.userPermissions.includes('manageRegistrationKeys')) { %>
                        <a class="item" href="/dashboard/super/registrationkeys">Registration Keys</a>
                    <% } %>
                    <% if (user.userPermissions.includes('manageSessions') || user.userPermissions.includes('superAdmin')) { %>
                        <a class="item" href="/dashboard/super/sessions">User Sessions</a>
                    <% } %>
                </div>
              </div>
              
        <% } %>
        
          <div class="ui dropdown item">
            <i class="user icon"></i><%= user.username %> <i class="dropdown icon"></i>
            <div class="menu">
                <a href="/dashboard/account" class="item">Manage Account</a>
 
            </div>
          </div>
      <div class="item">
        <div id="logoutButton" class="ui right labeled icon button" onclick="callLogoutAPI()">Logout</div>
    </div>
  </div>
</div>
  <script>
showActionButton('logoutButton', 'logout'); 
    callLogoutAPI = () => {
      showActionButton('logoutButton', 'loading'); 
      $.ajax({
        url: '/api/auth/logout',
        type: 'POST',
        success: function(result) {
          window.location.href = '/login';
        }
      });
    };

    $('.ui.dropdown')
      .dropdown()
    ;
    </script>