
<a href="#" id="scroll" style="display: none; z-index:1000"><span></span></a>

<div class="ui fixed inverted menu">
    <div class="ui wide container" style="font-size:20px">
      <div style="display:none; color:white" id="fetchingIndicator" class="ui right aligned active large orange loader">
         
    </div>
    <script>
      function showFetchingIndicator(x, message) {
        $('#fetchingIndicator').show();
      }

      function hideFetchingIndicator() {
        $('#fetchingIndicator').hide();
      }
    </script>
  
      <!-- a href="/" class="header item">
        <img class="logo" src="/img/logo-egon-animated.gif">
        YasarBonus
      </a -->
      <a href="/dashboard" class="item">CasFra</a>
      <!-- div class="ui simple dropdown item">
        <i class="bars icon"></i>
        <div class="menu">
          <a class="item" href="/store">Store &nbsp;<i class="external alternate small icon"></i></a>
          <a class="item" href="/faq">FAQ</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div -->
      <div class="right menu">
        <% if (user.permissions.includes('superAdmin') || user.permissions.includes('manageRegistrationKeys') 
            || user.permissions.includes('manageSessions')) { %>
    <div class="ui dropdown item">
      Super <i class="dropdown icon"></i>

      <div class="menu">
        <% if (user.permissions.includes('manageTenancies')) { %>
        <a class="item" href="/dashboard/super/tenancies">Tenancies</a>
        <% } %>
        <% if (user.permissions.includes('manageUsers')) { %>
        <a class="item" href="/dashboard/super/users">Users</a>
        <% } %>
        <% if (user.permissions.includes('manageRegistrationKeys')) { %>
        <a class="item" href="/dashboard/super/registrationkeys">Registration Keys</a>
        <% } %>
        <% if (user.permissions.includes('manageSessions') || user.permissions.includes('superAdmin')) { %>
        <a class="item" href="/dashboard/super/sessions">User Sessions</a>
        <% } %>

      </div>
    </div>

    <% } %>

        <% if (user.tenancies) { %>
          <div class="ui tenancies dropdown item">
            <i class="building icon"></i>
            <div id="tenancyMenuName">
              <div class="ui active inline mini loader"></div>
            </div> <i class="dropdown icon"></i>
            <div class="menu">
              <a href="/dashboard/account" class="item">Manage Account</a>
            </div>
          </div>
          <% } %>

          <div class="ui dropdown item">
            <i class="user icon"></i>
            <div id="accountMenuUsername">  <div class="ui active inline mini loader"></div>
          </div> <i class="dropdown icon"></i>
            <div class="menu">
              <a href="/dashboard/account" class="item">Manage Account</a>
      
            </div>
          </div>
          <div class="item">
            <div id="logoutButton" class="ui right labeled icon mini button" onclick="callLogoutAPI()">Logout</div>
          </div>
        <!-- a class="item"><i class="fa-brands fa-twitch"></i></a -->
      </div>
    </div>
  </div>


  <div class="ui tiny modal" id="initialDialog" style="display:none;">
          <i class="close icon"></i>
          <!-- div class="header">
          Please confirm that you are 18 years or older.
          </div -->
          <div class="image content">
            <div class="ui medium image">
              <img src="/img/logo-egon-animated.gif" width="150px">
            </div>
            <div class="description">
              <div class="ui header">You must confirm that you are 18 years or older.</div>
              <p>By continuing, you accept the use of cookies to keep this website functional. <a href="#">Learn more</a></p>
            </div>
          </div>
          <div class="actions">
            <a href="https://youtubekids.com" class="ui black deny button">
              Get me out
            </a>
            <button class="ui positive right labeled icon button">
              Continue
              <i class="checkmark icon"></i>
            </button>
          </div>
        </div>