<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/img/treudler_favicon.png" type="image/png">

    <title>CasFra</title>
    <meta name="description" content="CasFra Admin">
    <meta name="keywords" content="">
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    
    <link rel="stylesheet" href="/styles/style.css">

    <script src="https://kit.fontawesome.com/a35631f35d.js" crossorigin="anonymous"></script>



    <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//analytics.yasarbonus.com/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '13']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//analytics.yasarbonus.com/matomo.php?idsite=13&amp;rec=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Matomo Code -->

  <script>
    
    function showActionButton(button, status, title, message, after) {
      var actionButton = document.getElementById(button);
      actionButton.textContent = ''; // Clear the button content

      var icon = document.createElement('i');
      icon.classList.add('icon');

      if (status === 'save') {
          icon.classList.add('save');
          actionButton.classList.add('green');
          actionButton.classList.remove('disabled');
          actionButton.textContent = 'Save ';
      } else if (status === 'login') {
          icon.classList.add('lock');
          actionButton.classList.add('green');
          actionButton.classList.remove('disabled');
          actionButton.textContent = 'Login ';
      } else if (status === 'loginError') {
          icon.classList.add('close');
          actionButton.classList.replace('yellow', 'red');
          actionButton.classList.add('disabled');
          actionButton.textContent = 'Error ';
          setTimeout(function() {
              showActionButton(button, 'login');
          }, 2000);
          showToast(status, title, message);

        }else if (status === 'register') {
          icon.classList.add('lock');
          actionButton.classList.add('green');
          actionButton.classList.remove('disabled');
          actionButton.textContent = 'Register ';
      } else if (status === 'changePassword') {
          icon.classList.add('lock');
          actionButton.classList.add('green');
          actionButton.classList.remove('disabled');
          actionButton.textContent = 'Change Password';
      } else if (status === 'loading') {
          icon.classList.add('loading', 'spinner');
          actionButton.classList.replace('green', 'yellow');
          actionButton.classList.add('disabled');
          actionButton.textContent = 'loading ';
      } else if (status === 'success') {
          icon.classList.remove('lock');
          icon.classList.add('check');
          actionButton.classList.add('green', 'disabled');
          actionButton.textContent = 'Success ';
          setTimeout(function() {
              showActionButton(button, 'save');
          }, 2000);
          showToast(status, title, message, after);
      } else if (status === 'error') {
          icon.classList.add('close');
          actionButton.classList.replace('yellow', 'red');
          actionButton.classList.add('disabled');
          actionButton.textContent = 'Error';
          setTimeout(function() {
              showActionButton(button, after);
          }, 2000);
          showToast(status, title, message);
        } else if (status === 'logout') {
          icon.classList.add('sign', 'out', 'alternate');
          actionButton.classList.add('red');
          actionButton.classList.remove('disabled');
          actionButton.textContent = 'Logout';
      } else if (status === 'disabled') {
          icon.classList.add('lock');
          actionButton.classList.add('disabled');
          actionButton.textContent = 'Disabled';
      } else if (status === 'delete') {
          icon.classList.add('trash');
          actionButton.classList.add('red');
          actionButton.classList.remove('disabled');
          actionButton.textContent = 'Delete';
      } else if (status === 'resetPassword') {
          icon.classList.add('lock');
          actionButton.classList.add('green');
          actionButton.classList.remove('disabled');
          actionButton.textContent = 'Reset Password ';
      } 
      actionButton.appendChild(icon);
    }

    function showToast(type, title, message) {
      $.toast({
        class: type,
        title: title,
        message: message,
        displayTime: 'auto',
        showProgress: 'top',
        classProgress: 'blue',
        className: {
        toast: 'ui message'
      }
      });
      }

      function showLoader(div, status, title, message, icon) {
      var loaderElement = document.getElementById(div);
      loaderElement.textContent = ''; // Clear the loader content

      var textLoader = document.createElement('div');

      if (status === 'loading') {
        textLoader.remove();
        textLoader.classList.add('ui', 'text', 'loader');
          loaderElement.classList.add('active');
          textLoader.textContent = ''; // Clear the text content
          textLoader.textContent = 'Loading';
      } else if (status === 'success') {
        textLoader.textContent = ''; // Clear the text content

          loaderElement.classList.remove('active');
      } else if (status === 'saving') {
        textLoader.remove();

        textLoader.classList.add('ui', 'text', 'loader');
          loaderElement.classList.add('active');
          textLoader.textContent = ''; // Clear the text content
          textLoader.textContent = 'Requesting';
      } else if (status === 'disabled') {
        textLoader.remove();
        textLoader.classList.add('ui', 'text');
          loaderElement.classList.add('active');
          textLoader.textContent = ''; // Clear the text content
          textLoader.textContent = 'Disabled';
      } else if (status === 'error') {
        textLoader.remove();
        textLoader.classList.add('ui', 'text', 'loader');
          loaderElement.classList.add('active');
          textLoader.textContent = ''; // Clear the text content
          textLoader.textContent = 'Error';
      }
      loaderElement.appendChild(textLoader);
    }

  </script>