<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <%- include('../partials/header') %>
    <body class="bg-yasarred" >
        <div class="ui container" style="margin-top: 100px !important; padding-bottom: 100px;">
            <div class="ui segment" >
                <%- include('./partials/dashboard-menu') %>
                <div class="ui segment">
                    <h2>Images</h2>
                    <form id="uploadForm" enctype="multipart/form-data" class="ui form">
                        <div class="field">
                            <label for="imageInput">Choose an image:</label>
                            <input type="file" name="image" id="imageInput">
                        </div>
                        <div class="field">
                            <label for="categoryDropdown">Category:</label>
                            <select id="categoryDropdown" name="category"></select>
                        </div>
                        <button class="ui primary button" type="submit">Upload</button>
                    </form>
                    <div id="imageCards" class="ui four cards"></div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer') %>

        <script>
            // Function to fetch and display existing images
            function fetchImages() {
                fetch('/api/images')
                    .then(response => response.json())
                    .then(data => {
                        // Clear existing cards
                        document.getElementById('imageCards').innerHTML = '';

                        // Add each image as a card
                        data.forEach(image => {
                            var card = document.createElement('div');
                            card.className = 'ui card';

                            var imageElement = document.createElement('div');
                            imageElement.className = 'image';
                            card.appendChild(imageElement);

                            var img = document.createElement('img');
                            img.src = image.imageUrl;
                            img.style.maxWidth = '200px';
                            imageElement.appendChild(img);

                            var content = document.createElement('div');
                            content.className = 'content';
                            card.appendChild(content);

                            var meta = document.createElement('div');
                            meta.className = 'meta';
                            content.appendChild(meta);

                            var nameInput = document.createElement('input');
                            nameInput.type = 'text';
                            nameInput.value = image.name;
                            meta.appendChild(nameInput);

                            // Dropdown for category
                            var categoryDropdown = document.createElement('select');
                            categoryDropdown.id = 'categoryDropdown';
                            meta.appendChild(categoryDropdown);

                            // Fetch dropdown data from /api/images/categories
                            fetch('/api/images/categories')
                                .then(response => response.json())
                                .then(categories => {
                                    categories.forEach(category => {
                                        var option = document.createElement('option');
                                        option.value = category._id;
                                        option.text = category.name;
                                        categoryDropdown.appendChild(option);
                                    });
                                });

                            var actions = document.createElement('div');
                            actions.className = 'extra content';
                            card.appendChild(actions);

                            var imageId = document.createElement('div');
                            imageId.classList = 'ui tiny label';
                            imageId.textContent = image._id;
                            actions.appendChild(imageId);

                            var seperator = document.createElement('div');
                            seperator.className = 'ui divider';
                            actions.appendChild(seperator);

                            // Add click event listener to copy image ID to clipboard
                            imageId.addEventListener('click', function() {
                                // Create a temporary input element
                                var tempInput = document.createElement('input');
                                tempInput.value = image._id;
                                document.body.appendChild(tempInput);

                                // Copy the value to clipboard
                                tempInput.select();
                                document.execCommand('copy');

                                // Remove the temporary input element
                                document.body.removeChild(tempInput);

                                // Show a notification or perform any other action to indicate successful copy
                                showToast('success', 'Image ID copied to clipboard: ', image._id);
                            });

                            var saveButton = document.createElement('button');
                            saveButton.className = 'ui primary button';
                            saveButton.textContent = 'Save';
                            saveButton.addEventListener('click', function() {
                                // Save the image name
                                var newName = nameInput.value;
                                // Save the category
                                var newCategory = categoryDropdown.value;
                                // Send a request to update the image name and category
                                fetch('/api/images/' + image._id, {
                                    method: 'PUT',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                        name: newName,
                                        category: newCategory
                                    })
                                })
                                    .then(response => response.json())
                                    .then(updatedImage => {
                                        // Handle the response
                                        console.log(updatedImage);
                                    });
                            });

                            actions.appendChild(saveButton);

                            document.getElementById('imageCards').appendChild(card);
                        });
                    });
            }

            fetchImages();
        </script>

    </body>
</html>
