<!-- media.ejs -->
<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body class="bg-yasarred">
        <div class="ui container" style="margin-top: 100px !important; padding-bottom: 100px;">
            <div class="ui segment">
                <div class="ui segment">
                    <div class="ui container">
                        <h2>Login</h2>
                 
                        <div class="ui divider"></div>                      
                        <form class="ui form" id="userForm">
                            <div class="ui blurring segment">
                                <div id="formLoaderAccountDetails" class="ui inverted dimmer"></div>
                                <h4 class="ui dividing header">Account Details </h4>
                                <div class="field">
                                  <label>Tenancy</label>
                                  <input type="text" name="tenancy" placeholder="Tenancy ID">65874079a5a4f802408f7ca5</input>
                                </div>
                          <div class="field">
                            <label>Username</label>
                            <input type="text" name="username" placeholder="Username">
                          </div>
                          <div class="field">
                            <label>Password</label>
                            <input type="password" name="password" placeholder="Password">
                          </div>
                          
                        </div>
                        
                        </div>
                          <button class="ui labeled icon button" id="saveButton">
                          </button>
                        </form>
                      </div>
                      
                      <script>
                        showActionButton('saveButton','login');
                        // showLoader('formLoaderPersonalDetails', 'disabled');
                        // showLoader('formLoaderPaymentInformation', 'disabled');
                        // showLoader('formLoaderReceipt', 'disabled');

                        $('#userForm').submit(function(e) {
                          const button = 'saveButton';
                          e.preventDefault();
                          showLoader('formLoaderAccountDetails', 'saving');

                          showActionButton(button,'loading');



                          var formData = {
                            username: $('input[name="username"]').val(),
                            tenancy: $('input[name="tenancy"]').val(),
                            password: $('input[name="password"]').val(),
                            language: "en"
                          };
                          console.log('form', formData);
                          $.ajax({
                            type: 'POST',
                            url: '/api/auth/login',
                            data: formData,
                            success: function(data) {
                              console.log(data);
                              showLoader('formLoaderAccountDetails', 'success');

                              showActionButton(button,'success');
                              showToast('success', 'Authentication succeeded.', 'Redirecting to the Dashboard...');
                              // Redirect to /login after 3 seconds
                              setTimeout(function() {
                                window.location.href = '/dashboard';
                              }, 500);
                            },
                            error: function(xhr, status, error) {
                              var errorMessage = JSON.parse(xhr.responseText).error;
                              showActionButton(button,'error', 'Error logging in', errorMessage, 'login');
                              showLoader('formLoaderAccountDetails', 'success');
                            },
                            complete: function() {

                            }
                          });
                        });
                      </script>
                      <%- include('../partials/footer') %>
                        </body>
                    </html>
