<!-- media.ejs -->
<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <%- include('../partials/header') %>
    <body class="bg-yasarred">
        <div class="ui container" style="margin-top: 100px !important; padding-bottom: 100px;">
            <div class="ui segment">
                <%- include('./partials/dashboard-menu') %>
                <div class="ui segment">
                    <h2>Provider Media</h2>
                    <form class="ui form" id="uploadForm" enctype="multipart/form-data">
                        <div class="ui file input">
                            <input type="file" id="imageInput" name="image">
                            <button type="submit" class="ui button">Upload</button>

                          </div>
                    </form>
                    <table id="imageList" class="ui celled table">
                        <!-- Die Bilder werden hier eingefügt -->
                    </table>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                $(function() {
                    // Event-Handler für das Hochladen des Bildes
                    $('#uploadForm').submit(function(e) {
    e.preventDefault();

    const formData = new FormData(this);

    $.ajax({
      url: '/api/media/provider/upload',
      type: 'POST',
      data: formData,
      success: function(data) {
        if (data.error) {
          // Ein Fehler ist aufgetreten, zeigen Sie die Fehlermeldung an
          alert(data.error);
        } else {
          // Bild wurde erfolgreich hochgeladen, aktualisieren Sie die Bildliste
          $.get('/api/media/provider', function(images) {
            const imageList = images.map(image => `
              <tr>
                <td><img src="/img/provider/${image}" alt="${image}" style="width: 100px;"></td>
                <td>${image}</td>
                <td><button class="ui button delete" data-image="${image}">Delete</button></td>
              </tr>
            `).join('');

            $('#imageList').html(imageList);
          });
        }
      },
      cache: false,
      contentType: false,
      processData: false
    });
  });
            
                    $.get('/api/media/provider', function(images) {
                        const imageList = images.map(image => `
                            <tr>
                                <td><img src="/img/provider/${image}" alt="${image}" style="width: 100px;"></td>
                                <td>${image}</td>
                                <td><button class="ui button delete" data-image="${image}">Delete</button></td>
                            </tr>
                        `).join('');
            
                        $('#imageList').html(imageList);
                    });
            
                    // Event-Handler für den Löschen-Button
                    $('#imageList').on('click', '.delete', function() {
                        const image = $(this).data('image');
            
                        $.ajax({
                            url: '/api/media/provider/delete',
                            type: 'POST',
                            data: { image: image },
                            success: function(data) {
                                // Bild wurde erfolgreich gelöscht, aktualisieren Sie die Bildliste
                                $.get('/api/media/provider', function(images) {
                                    const imageList = images.map(image => `
                                        <tr>
                                            <td><img src="/img/provider/${image}" alt="${image}" style="width: 100px;"></td>
                                            <td>${image}</td>
                                            <td><button class="ui button delete" data-image="${image}">Delete</button></td>
                                        </tr>
                                    `).join('');
            
                                    $('#imageList').html(imageList);
                                });
                            }
                        });
                    });
                });
            </script>
            <%- include('../partials/footer') %>
        </body>
</html>
          

