<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <%- include('../partials/header') %>

<body class="bg-yasarred" >
  <div class="ui container"style="margin-top: 100px !important; padding-bottom: 100px;">
    <iframe src="https://streamelements.com/yasar92/store" style="width: 100%; height: 1000px; border: none;"></iframe>
    <div class="ui segment" >
      <h1>Casino FAQ</h1>

      <!-- section class="accordion">
        <div class="tab">
          <input type="checkbox" name="accordion-1" id="cb1" checked>
          <label for="cb1" class="tab__label">Checkbox</label>
          <div class="tab__content">
            <p>Pure CSS accordion based on the "input:checked + label" style trick.</p>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" name="accordion-1" id="cb2">
          <label for="cb2" class="tab__label">Open multiple</label>
          <div class="tab__content">
            <p>Using <code>&lt;input type="checkbox"&gt;</code> allows to have several tabs open at the same time.</p>
          </div>
        </div>
      </section>
      
      <section class="accordion accordion--radio">
        <div class="tab">
          <input type="radio" name="accordion-2" id="rd1">
          <label for="rd1" class="tab__label">Radio</label>
          <div class="tab__content">
            <p>If you want to have only one tab open, you can use <code>&lt;input type="checkbox"&gt;</code>.</p>
          </div>
        </div>
        <div class="tab">
          <input type="radio" name="accordion-2" id="rd2">
          <label for="rd2" class="tab__label">Open single</label>
          <div class="tab__content">
            <p>But if you wanna close the opened tab, you must add a "close" button somewhere, like the one below, that is just another styled radio input.</p>
          </div>
        </div>
        <div class="tab">
          <input type="radio" name="accordion-2" id="rd3">
          <label for="rd3" class="tab__close">Close open tab &times;</label>
        </div>
      </section -->
      
      <style>
        body {
  padding: 1em;
}
.ui.accordion .active.title > .plus.icon,
.ui.accordion .title:not(.active) > .minus.icon {
  display: none;
}

      </style>
      <script>
        $('.ui.segment').accordion({
	exclusive: false
})
      </script>
      <div class="ui accordion">
        <div id="faq-container"></div>
      </div>
      

        <script>
          // Fetch the FAQ data from the API URL
          fetch('/api/faq')
            .then(response => response.json())
            .then(data => {
              // Generate the HTML content for the FAQ
              const faqContainer = document.getElementById('faq-container');
              const faqHTML = generateFAQHTML(data);
              faqContainer.innerHTML = faqHTML;
            })
            .catch(error => {
              console.error('Error fetching FAQ:', error);
            });

          // Function to generate the HTML content for the FAQ
          function generateFAQHTML(faqData) {
            let html = '';

            // Iterate over each FAQ item
            faqData.forEach(item => {
              html += `
              <div class="ui segment">
          <div class="title">
            <i class="plus icon"></i>
            <i class="minus icon"></i>
            ${item.question}
          </div>
          <div class="content">
            <p>${item.answer}</p>
          </div>
        </div>
              `;
            });

            return html;
          }
        </script>



    </div>
</div>
    

<%- include('../partials/footer') %>

</body>

</html>
